body{
	color:aqua;
	    bottom: 0;
	background-image: url(Background-image.jpeg);
		text-align: center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 50px;
}

.
}

p{
	
	font-size: 70;
}